---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{title}</title>
        <link href="/styles/w3.css" rel="stylesheet"/>
    </head>
    <body>
        <main class="w3-main">
            <div class="w3-content" id="novel">
                <slot />
            </div>
        </main>
    </body>
</html>

<style is:global>
    a { text-decoration: none; color:blue;}
    a:hover { color:royalblue; }
    a:visited { color:darkred;}
</style>
