---
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{frontmatter.title}</title>
        <meta name="generator" content={Astro.generator} />
		<meta name="author" content={frontmatter.author} />
        <meta name="description" content="Astro description">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="/styles/w3.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>
    <body>
        <main class="w3-main">
            <div class="w3-content" id="novel">
                <slot />
            </div>
        </main>
    </body>
</html>

<style>
    a { text-decoration: none; color:navy; }
</style>        
